<div class="hero-wrap hero-bread" style="background-image: url('/images/bg_6.jpg');">
    <div class="container">
        <div class="row justify-content-center text-left align-items-center">
            <div class="col-md-8">
                <span class="sub-title">Our designs</span>
                <h2>WELCOME</h2>
            </div>
        </div>
    </div>
</div>

<div class="site-section mt-5">
    <div class="container">

        <div class="row mb-5">
            <div class="col-12 section-title text-center mb-5">


                <ul style="margin-left: -40px" class="product-category">
                    <li><a href="/shop/menu" class="active"></a></li>



                </ul>
            </div>
        </div>

{{# each products}}

        <div class="row">
        {{# each this}}


                <div class="col-lg-4 mb-5 col-md-6">

                <div class="wine_v_1 text-center pb-4">
                    <a href="#l" class="thumbnail d-block mb-4"><img src="{{this.imagePath}}" alt="Image" class="img-fluid"></a>


                    <div class="wine-actions">

                        <h3 class="heading-2" style="font-size:18px"><a href="#">{{this.title}}</a></h3>
                        <span class="price d-block" style="font-size:18px">Rs.{{this.price}}</span>
                        <div class="rating" style="font-size:18px">
                            {{#ifCond  this.rating '===' 0}}
                                <a href="/r1/{{this._id}}/{{this.r1}}"><span class="icon-star-o" ></span></a>
                            {{else}}
                                <a href="/r1/{{this._id}}/{{this.r1}}"><span class="icon-star" ></span></a>

                            {{/ifCond}}
                            {{#ifCond  this.rating '<' 2}}
                                <a href="/r2/{{this._id}}/{{this.r2}}"><span class="icon-star-o" ></span></a>
                            {{else}}
                                <a href="/r2/{{this._id}}/{{this.r2}}"><span class="icon-star" ></span></a>

                            {{/ifCond}}
                            {{#ifCond  this.rating '<' 3}}
                                <a href="/r3/{{this._id}}/{{this.r3}}"><span class="icon-star-o" ></span></a>
                            {{else}}
                                <a href="/r3/{{this._id}}/{{this.r3}}"><span class="icon-star" ></span></a>

                            {{/ifCond}}
                            {{#ifCond  this.rating '<' 4}}
                                <a href="/r4/{{this._id}}/{{this.r4}}"><span class="icon-star-o" ></span></a>
                            {{else}}
                                <a href="/r4/{{this._id}}/{{this.r4}}"><span class="icon-star" ></span></a>

                            {{/ifCond}}
                            {{#ifCond  this.rating '<' 5}}
                                <a href="/r5/{{this._id}}/{{this.r5}}"><span class="icon-star-o" ></span></a>
                            {{else}}
                                <a href="/r5/{{this._id}}/{{this.r5}}"><span class="icon-star" ></span></a>

                            {{/ifCond}}
                        </div>



                        <a href="/add-to-cart/{{this._id}}" class="btn add"><span class="icon-shopping-bag mr-3"></span> Add to Cart</a>
                    </div>
                </div>

            </div>
        {{/each}}

        </div>
{{/each}}














    </div>
    </div>
</div>

